.footer {
  background-color: $gray-dark;
  padding: 30px 0;
  color: $gray-light;
  text-align: center;
  ul {
    color: white;
    list-style: none;
    text-decoration: none;
  }
  ul li {
    display: inline-block;
    font-size: 20px;
    padding: 0 10px;
    &:hover {
      color: yellow;
    }
  }
}
