<div class="padded">
<h2 class="text-center">Our team</h2>

<ul class="list-inline text-center">
  <% ["alex", "arthur", "bruno", "charles", "christophe", "fabio", "francois", "jackson", "joão", "letícia", "livia", "lucas", "luciano", "pedro", "tamara", "thiago"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "avatar" %>
      <h4><%= member.capitalize %></h4>
    </li>
  <% end %>
</ul>
<h4 class="text-center padded">contact@newlife.com</h4>
</div>
